<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원관리 상세조회</title>
<style>
 table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>


</head>
<body>
<h1>회원 정보 조회창</h1>
<button>정보 조회하기</button>
<hr>

<table>
<tr><td>ddrdr</td> <td>홍길동</td> <td>강원도 원주시</td> <td>010-0014-4477</td> <td>25년 5개월</td> <td>원주시</td> <td>금형</td> <td>qwer@asdf.com</td> <td></td></td></tr>
<tr><td>bbcfd</td> <td>김김</td> <td>강원도 춘천시</td> <td>010-1597-3579</td> <td>19년 3개월</td> <td>구미시</td> <td>기타</td> <td>asdf@zxcv.com</td> <td>사출(선택지에없어서 기타체크)</td></tr>
</table>

</body>
</body>
</html>