<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>엔지니어 정보 수정</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  </head>
<body>

  <h2>회원 정보 수정</h2>

  <form>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  
  <div class="mb-3">
    <label for="birthday" class="form-label">생년월일(ex.19990108)</label>
    <input type="text" class="form-control" id="birthday">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">주소</label>
    <input type="text" class="form-control" id="address" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="tel" class="form-label">전화번호</label>
    <input type="tel" class="form-control" id="tel">
  </div>
  <div class="mb-3">
    <label for="carrer" class="form-label">경력</label>
    <input type="text" class="form-control" id="career">
  </div>
  <div class="mb-3">
    <label for="guide" class="form-label">지도분야선택</label>&nbsp; &nbsp;  
      <select>
        <option value="">주조</option>
        <option value="">가공</option>
        <option value="">후처리</option>
        <option value="">금형</option>
        <option value="">설비</option>
        <option value="">품질</option>
        <option value="">품질</option>
        <option value="">생산</option>
        <option value="">안전</option>
        <option value="">기타</option>
      </select>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">이메일주소</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="mb-3">
  <label for="etc" class="form-label">비고</label>
  <input type="text" class="form-control" id="etc" placeholder="지도분야에 기타를 골라주신분은 상세사항을 적어주세요">
  </div>
  <input type="submit" class="btn btn-primary" value="정보수정">
</div>
</form>

 <hr>
 위에 자동으로 불러와서 고칠수 있게
</body>
</html>