<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>D2Z - 엔지니어 조회</title>
<style>
    tr, td, th {
        border: 1px solid black;
    }
</style>
</head>
<body>
<h1>엔지니어 조회 화면입니다.</h1>
<a href = "/main"><button>돌아가기</button></a>
<table>
    <tr><th>이름</th> <th>주소</th> <th>전화번호</th> <th>주 분야</th>  <th>경력</th> <th>특이사항</th> </tr>
  <tr><td>홍길동</td> <td>강원도 춘천시</td> <td>010-1225-5588</td> <td>금형</td> <td>23년 4개월</td> <td>원격지도 선호</td></tr>
  <tr><td>감자</td> <td>강원도 원주시</td> <td>010-9955-5511</td> <td>사출</td> <td>18년 9개월</td> <td>현장 근무 선호</td></tr>
</table>
</body>
</html>