<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>D2Z - 사업장 조회</title>
<style>
    table, tr, th, td {
      border: 1px solid black;
      border-collapse: collapse;

    }
</style>
</head>
<body>
<h1>사업장 조회 화면입니다.</h1>
<a href = "/main"><button>돌아가기</button></a>
<table>
  <tr><th>업체명</th> <th>주소</th> <th>담당자명</th> <th>담당자 연락처</th> </tr>
  <tr><td>AA다이캐스팅</td> <td>강원도 춘천시</td> <td>김나물</td> <td>033-255-5454</td> </tr>
  <tr><td>BB다이캐스팅</td> <td>강원도 원주시</td> <td>김밥</td> <td>033-245-4545</td> </tr>
</table>
</body>
</html>