<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원관리 상세조회</title>
<style>
 table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>


</head>
<body>
<h1>회원 정보 조회창</h1>
<button>정보 조회하기</button>
<hr>
<table>
<tr> <th>사업체명</th> <th>사업자 번호</th> <th>업체명</th> <th>담당자</th> <th>담당자 전화번호</th> <th>이메일주소</th></tr>
  <tr><td>aadnc</td> <td>221-54-88821</td> <td>AA다이캐스팅</td> <td>김감자</td> <td>033-254-5454</td> <td>aadnc@aadnc.co.kr</td></tr>
  <tr><td>bbdnc</td> <td>221-45-12888</td> <td>BB다이캐스팅</td> <td>김밥</td> <td>033-245-4545</td> <td>bbdnc@bbdnc.co.kr</td></tr>
 </table>
</body>
</html>